# Local deployment secrets
DB_PASSWORD=AWS_SECRET_MANAGER
JWT_SECRET=$(openssl rand -base64 32)
INTERNAL_API_KEY=$(openssl rand -hex 32)
AWS_REGION=us-east-1
CLUSTER_NAME=bookmyevent-cluster
RDS_INSTANCE=bookmyevent-rds
